# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/
.venv/
.ENV/

# Flask-specific
instance/
*.db
*.sqlite3

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
